/* Ensure that this class is applied to the container of the loaded content */

.portfolio,
.portfolio-content {
    white-space: normal;
    /* Allows text to wrap */
}

.portfolio {
    position: absolute;
    width: 80%;
    height: 90vh;
    border-radius: 10px;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: silver;
    max-width: 600px;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 0.5s;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    padding-top: 10px;
    box-shadow: 0px 0px 37px rgba(0, 0, 0, 0.4);
    z-index: 2000;

    /* Add scroll if content overflows */
    /* Add scroll if content overflows */
}

.portfolio img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.portfolio p {
    font-size: 16px;
    color: #ff0000;
    margin: 10px 0;
    word-wrap: break-word;
}

.portfolio-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    /* Ensures that long words don't overflow */
}

.portfolio-content img {
    max-width: 100%;
    height: auto;
}

.portfolio-content p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.portfolio-close {
    position: sticky;
    top: 0px;
    left: 100%;
    font-size: 32px;
    /* Large 'X' character */
    color: #000000;
    /* White color */
    background: transparent;
    /* No background */
    border: none;
    /* No border */
    cursor: pointer;
    /* Pointer cursor on hover */
    padding: 0;

}

/* Optional: Style for hover effect */
.portfolio-close:hover {
    color: #ccc;
    /* Light grey color on hover */
}