<div class="portfolio-content">
    <button class="portfolio-close">&times;</button>

    <img src="https://via.placeholder.com/600x400" alt="Portfolio Item 1">
    <h4>Description for portfolio item 1.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non justo vel leo consectetur gravida vitae sed
        est.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer viverra mauris quis suscipit pellentesque.
        Aliquam ultricies arcu ante, et consectetur velit finibus quis. Morbi sagittis mi nisl, eget tristique ante
        pharetra
        eget. Donec eget ornare turpis, id consequat odio. Aliquam lacinia
        vitae nibh mattis volutpat.

    </p>
    <img src="https://via.placeholder.com/600x400" alt="Portfolio Item 1">
    <h4>Description for portfolio item 1.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non justo vel leo consectetur gravida vitae sed
        est.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer viverra mauris quis suscipit pellentesque.
        Aliquam ultricies arcu ante, et consectetur velit finibus quis. Morbi sagittis mi nisl, eget tristique ante
        pharetra
        eget. Donec eget ornare turpis, id consequat odio. Aliquam lacinia
        vitae nibh mattis volutpat.
    </p>
    <img src="https://via.placeholder.com/600x400" alt="Portfolio Item 1">
    <h4>Description for portfolio item 1.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non justo vel leo consectetur gravida vitae sed
        est.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer viverra mauris quis suscipit pellentesque.
        Aliquam ultricies arcu ante, et consectetur velit finibus quis. Morbi sagittis mi nisl, eget tristique ante
        pharetra
        eget. Donec eget ornare turpis, id consequat odio. Aliquam lacinia
        vitae nibh mattis volutpat.
    </p>
    <img src="https://via.placeholder.com/600x400" alt="Portfolio Item 1">
    <h4>Description for portfolio item 1.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non justo vel leo consectetur gravida vitae sed
        est.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer viverra mauris quis suscipit pellentesque.
        Aliquam ultricies arcu ante, et consectetur velit finibus quis. Morbi sagittis mi nisl, eget tristique ante
        pharetra
        eget. Donec eget ornare turpis, id consequat odio. Aliquam lacinia
        vitae nibh mattis volutpat.
    </p>
    <img src="https://via.placeholder.com/600x400" alt="Portfolio Item 1">
    <h4>Description for portfolio item 1.</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non justo vel leo consectetur gravida vitae sed
        est.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer viverra mauris quis suscipit pellentesque.
        Aliquam ultricies arcu ante, et consectetur velit finibus quis. Morbi sagittis mi nisl, eget tristique ante
        pharetra
        eget. Donec eget ornare turpis, id consequat odio. Aliquam lacinia
        vitae nibh mattis volutpat.
    </p>
</div>