:root {
    --main: #000;
    --accent: #ff2600;
    --secondary: #333;
    --thirdary: #888;
    --bg: #eee;

}


body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #eee;
    overflow: hidden;
}

.topName h1,
.topName h2 {
    display: inline;
}

nav {
    /* height: 50px; */
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-family: "Roboto";
    font-weight: 100;
    /* padding-left: 10px; */
    /* margin: 0; */
}

.navlinks {
    margin-right: 10px;
}

.navlinks a {
    margin-right: 20px;
    color: var(--main);
    font-weight: 500;
}

navlinks a,
a:visited {
    color: var(--accent);


}

h2,
h3,
h4 {
    font-weight: 400;
}

a:hover {
    color: var(--main);
    transition: color 1s, visibility 0.5s;


}

.menuWords {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 4em;
}

.hero {
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: calc(300px);
}

.container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: auto;
    /* Other styles remain the same */
    /* display: flex; */
    /* Change to flex */
    /* justify-content: center; */
    /* Center horizontally */
    /* align-items: center; */
    -webkit-overflow-scrolling: touch;
}



.section {
    display: inline-block;
    width: 100vw;
    height: 100vh;
    /* Other styles remain the same */
}

.centered {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    /* margin-top: 25%; */
    /* justify-content: center; */
    align-items: center;
    /* height: 100%; */
    /* width: 100%; */
}


/* Optional: Styling for the h1 elements */
h1 {
    font-size: 2em;
    /* text-align: center; */
}

.info-container {
    display: flex;
}

.hover-link {
    cursor: default;
    color: var(--accent);
}

.info-box {
    width: 100%;
    margin-top: -20px;
    background-color: #eee;

    /* position: absolute; */
    /* height: 100px; */
    /* background-color: lightblue; */
    text-align: left;
    /* line-height: 100px; */
    /* Vertically centers the text in the div */
    /* border: 1px solid black; */
    /* margin-top: 10px; */
    opacity: 0;
    display: none;
    /* Set initial opacity to 0 */
    visibility: hidden;
    /* Initially hidden */
    transition: opacity 1s, visibility 0.5s;
    /* Smooth transition for opacity and visibility */


}

#info-box2 {
    /* display: flex;
    flex-direction: column; */
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    /* Creates two columns of equal width */
    gap: 20px;
}

#info-box2 h4 {
    margin: 0;
    padding: 0;
}

.info-box p,
.info-box h4,
.info-box div,
.portfolio-link {
    opacity: 0;

    transition: opacity 1.2s ease-in-out;
}

.portfolio-link {
    line-height: 50px;
}

.topName {
    margin-left: 10px;
}

.topName h1 {
    z-index: 1000;
    font-size: 1.2em;

}

.topName h2 {
    font-size: .8em;
}

.contact-link {
    font-size: 1em;
    /* position: fixed; */
    /* Fixed position relative to the viewport */
    top: 10px;
    /* 10px from the top */
    right: 10px;
    /* 10px from the right */
    z-index: 1000;
    /* padding: 8px 15px; */
    border-radius: 5px;
}

.portfolio-link {
    display: block;
    /* Makes each link appear on a new line */
    /* Additional styling */
}




.last-wrapper {
    justify-content: center;

}

#cta {
    /* background-color: silver; */
    text-align: center;
    width: 100%;
    height: 100%;
    /* display: none; */

}

#cta h1 {}

#contact-card {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 360px;
    display: flex;
    justify-content: flex-end;
    transform: translate(-50%, -50%);
    background-color: var(--accent);
    padding: 40px 40px 40px 40px;
    border-radius: 10px;
    z-index: 1000;
    transition: opacity 1s, visibility 0.5s, transform 0.5s;
    line-height: 50px;
    font-weight: 500;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .5);

}

#contact-card h1,
#contact-card h2 {
    margin: 0px;
    padding: 0;
    line-height: 1em;
}

#close-contact-card {
    position: inherit;
    color: var(--main);
    right: 5px;
    top: 5px;
    border: none;
    background: none;
    font-size: 32px;
    cursor: pointer;
}

.contact-line {
    display: flex;
    justify-content: space-between;
}