/* style-arrows.css */

.arrow {
    font-family: "Arial", sans-serif;
    position: fixed;
    color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 100%;
    top: 50%;
    /* align-items: center; */
    padding: 0;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 4em;
    /* Size of the arrow */
    z-index: 1000;
    width: 80px;
    text-align: center;
    height: 80px;
    transition: background-color 0.5s;

}

.arrow:hover {
    background-color: var(--secondary);
    transition: background-color 0.5s;
    border: none;
    color: var(--bg);
}

.arrow-left {
    left: 80px;
    /* Distance from the left edge */
}

.arrow-right {
    right: 80px;
    /* Distance from the right edge */
}

/* Hide the arrow initially */
.arrow {
    display: none;
}